* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f0f2f5;
}

/* navbar */
.navbar {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  padding: 12px !important;
  position: fixed !important;
  z-index: 10 !important;
  background-color: white !important;
}
#searchInput {
  height: 2.7rem;
  width: 15rem;
  border: none;
  border-radius: 20px;
  background-color: #f5f6f7;
}
/* navbar end */

/* sidebar */
.siderBar {
  position: absolute !important;
  z-index: 1000 !important;
  height: 100vh !important;
  background-color: white !important;
  box-shadow: 4px 0px 11px 0px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: 4px 0px 11px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 4px 0px 11px 0px rgba(0, 0, 0, 0.75) !important;
}
/* sidebar end */

/* profile content */
.image-div {
  /* border: 1px solid green !important; */
  background-color: whitesmoke;
  box-shadow: 0px -11px 33px -15px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -11px 33px -15px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -0px 33px -15px rgba(0, 0, 0, 0.75) inset;
  border-radius: 2px;
}
/* profile content end */

/* |||||||||||||||||||||  media quiruies  ||||||||||||||||||||| */

@media (max-width: 992px) {
  /* toggle btn display setting */
  #toggleBtn {
    display: block !important;
  }
  /* navbar btn display setting */
  .centerBtns,
  #menuBtn,
  #messengerBtn,
  #notificationBtn {
    display: none !important;
  }
}

@media (max-width:767px) {
    #userProfileImage {
        margin:  0 auto  !important;
        margin-top: -70px !important;
    }
    .userInfoDiv {
      margin-left: 0 !important;
    }
    
}

@media (max-width: 376px) , (max-width: 400px) {
  /* search input width setting */
  #searchInput {
    width: 8rem !important;
  }
  #userProfileImage {
    margin-left: 32% !important;
  }
}

@media (max-width: 375px) {
  #userProfileImage {
    margin-left: 27% !important;
  }
}
